folder/Chatwoot – Estado de Pedido V2 | Captura Order Code.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-22T21:31:32.000Z",
    "createdAt": "2025-12-18T16:03:20.429Z",
    "versionId": "28963c0c-e206-413f-b747-ced09b2fcec1",
    "workflowId": "NOfJ1NoYRC2o4Gvs",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatwoot-incoming-message",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "e30ec8cc-a014-4999-b742-7d5acc2125d5",
        "name": "Webhook",
        "webhookId": "bb32d21b-abd6-424d-aeb8-274a354e1501"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68f14a79-9b5c-4350-9c95-d414d1be09d3",
                "name": "conversation_id",
                "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
                "type": "number"
              },
              {
                "id": "b59357e9-0def-454e-b4cf-9e65dfaaa77c",
                "name": "name",
                "value": "={{ $json.body.conversation.messages[0].sender.name }}",
                "type": "string"
              },
              {
                "id": "d9e697e2-73b8-4180-87b7-ddb19aba768e",
                "name": "email",
                "value": "={{ $json.body.conversation.messages[0].sender.email }}",
                "type": "string"
              },
              {
                "id": "868cb42a-c336-4fec-891b-536858821c14",
                "name": "phone",
                "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
                "type": "string"
              },
              {
                "id": "f5578c6a-db13-4827-b7b0-2c8f197fdbf4",
                "name": "message",
                "value": "={{ $json.body.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ],
        "id": "c217e4c0-b471-458b-a5ff-787d73c672f7",
        "name": "Normalizar payload Chatwoot"
      },
      {
        "parameters": {
          "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "conversation_id",
                "value": "=eq.{{$json.conversation_id}}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          480,
          0
        ],
        "id": "e66c082a-3cc2-461a-be1f-075c4cf6e070",
        "name": "Obtener contexto desde Supabase",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Y7VRgC9ZABE9kFDw",
            "name": "Header Auth account - Supabase jousfit.com"
          },
          "httpBearerAuth": {
            "id": "BzTJ5DgwIoNw4kKL",
            "name": "Bearer Auth account - Supabase anon Key jousfit.com"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6ed9d4c8-9c5c-4768-b906-2841b21b77ca",
                "leftValue": "={{ $json.stage }}",
                "rightValue": "awaiting_order_code",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          688,
          0
        ],
        "id": "6c765624-ed98-4478-9acf-8dc58542cda9",
        "name": "awaiting_order_code?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          944,
          128
        ],
        "id": "34a5ea10-6e64-463b-be04-dce09dea317f",
        "name": "Muere aquí"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "2b62f020-6db8-43c7-bc7b-d12ad064fb92",
                "leftValue": "={{ /#?\\d{4,10}/.test($('Normalizar payload Chatwoot').item.json.message || '') }}",
                "rightValue": "={{ /#?\\d{4,10}/.test($json.last_customer_message || '') }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          960,
          -80
        ],
        "id": "b04a7848-0142-4921-8c69-8a0c319f4501",
        "name": "¿Mensaje contiene Order Code?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "be410f54-6a8d-4e34-a92f-4ca452cee194",
                "name": "order_code",
                "value": "={{ ($('Normalizar payload Chatwoot').item.json.message.match(/#?\\d{4,10}/) || [null])[0] }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          -224
        ],
        "id": "1a27d105-d3d2-49a9-bdf4-887f11e009ae",
        "name": "Extraer Order Code"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context?on_conflict=conversation_id",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"conversation_id\": {{ $('Normalizar payload Chatwoot').item.json.conversation_id }},\n  \"intent\": \"intent_estado_pedido\",\n  \"stage\": \"order_code_captured\",\n  \"order_code\": {{ $json.order_code ? JSON.stringify($json.order_code) : null }},\n  \"last_customer_message\": {{ \n    $('Normalizar payload Chatwoot').item.json.message \n      ? JSON.stringify($('Normalizar payload Chatwoot').item.json.message) \n      : null \n  }},\n  \"confidence\": 0.9,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1552,
          -224
        ],
        "id": "ef45d0b3-4b49-494f-aed2-c3627b305367",
        "name": "Actualizar contexto - Esperando Pedido",
        "alwaysOutputData": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "BzTJ5DgwIoNw4kKL",
            "name": "Bearer Auth account - Supabase anon Key jousfit.com"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{ $('Normalizar payload Chatwoot').item.json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "api_access_token",
                "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"content\": \"¡Gracias! 😊\\n\\nYa tengo tu número de pedido **#{{ $('Extraer Order Code').item.json.order_code }}**.\\nDame un momento mientras reviso el estado.\",\n  \"message_type\": \"outgoing\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1792,
          -224
        ],
        "id": "b19c2ba2-00ab-4bfe-b63b-c0e45620b337",
        "name": "Confirmar Order Code - Chatwoot Bot",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "api_access_token",
                "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"content\": \"Para ayudarte necesito el número de pedido 😊\\n\\nNormalmente lo encuentras en el correo de confirmación y se ve así: #123456\",\n  \"message_type\": \"outgoing\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1312,
          32
        ],
        "id": "0063ad54-b3dc-4938-b7bb-6fd163c65263",
        "name": "Solicitar Order Code nuevamente - Chatwoot Bot",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context?on_conflict=conversation_id",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              },
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"conversation_id\": {{ $json.conversation_id }},\n  \"intent\": \"intent_estado_pedido\",\n  \"stage\": \"awaiting_order_code\",\n  \"last_customer_message\": {{ $('Normalizar payload Chatwoot').item.json.message \n    ? JSON.stringify($('Normalizar payload Chatwoot').item.json.message) \n    : null }},\n  \"confidence\": 0.9,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1536,
          32
        ],
        "id": "34f05fa8-baa0-4229-9dc3-068e61b93a4e",
        "name": "Actualizar contexto - Reintento Order Code",
        "credentials": {
          "httpBearerAuth": {
            "id": "BzTJ5DgwIoNw4kKL",
            "name": "Bearer Auth account - Supabase anon Key jousfit.com"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{$json.conversation_id}}/labels",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "api_access_token",
                "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"labels\": [\"intent_estado_pedido\"]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2176,
          -224
        ],
        "id": "9ff9f89b-0c69-4a46-acce-71db8c00cfc2",
        "name": "Agregar etiqueta - intent_estado_pedido"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ojVOtXSMrjz5CEXr",
            "mode": "list",
            "cachedResultUrl": "/workflow/ojVOtXSMrjz5CEXr",
            "cachedResultName": "Workflow V3 – Order Status"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2176,
          16
        ],
        "id": "efd9495c-9c9f-4f01-bf1a-a08264283aed",
        "name": "Execute Workflow"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalizar payload Chatwoot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar payload Chatwoot": {
        "main": [
          [
            {
              "node": "Obtener contexto desde Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener contexto desde Supabase": {
        "main": [
          [
            {
              "node": "awaiting_order_code?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "awaiting_order_code?": {
        "main": [
          [
            {
              "node": "¿Mensaje contiene Order Code?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Muere aquí",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Mensaje contiene Order Code?": {
        "main": [
          [
            {
              "node": "Extraer Order Code",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Solicitar Order Code nuevamente - Chatwoot Bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar contexto - Esperando Pedido": {
        "main": [
          [
            {
              "node": "Confirmar Order Code - Chatwoot Bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Order Code": {
        "main": [
          [
            {
              "node": "Actualizar contexto - Esperando Pedido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirmar Order Code - Chatwoot Bot": {
        "main": [
          [
            {
              "node": "Agregar etiqueta - intent_estado_pedido",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Solicitar Order Code nuevamente - Chatwoot Bot": {
        "main": [
          [
            {
              "node": "Actualizar contexto - Reintento Order Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kevin Quiroz",
    "name": "Version 28963c0c",
    "description": ""
  },
  "activeVersionId": "28963c0c-e206-413f-b747-ced09b2fcec1",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar payload Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar payload Chatwoot": {
      "main": [
        [
          {
            "node": "Obtener contexto desde Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener contexto desde Supabase": {
      "main": [
        [
          {
            "node": "awaiting_order_code?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "awaiting_order_code?": {
      "main": [
        [
          {
            "node": "¿Mensaje contiene Order Code?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Muere aquí",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Mensaje contiene Order Code?": {
      "main": [
        [
          {
            "node": "Extraer Order Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar Order Code nuevamente - Chatwoot Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar contexto - Esperando Pedido": {
      "main": [
        [
          {
            "node": "Confirmar Order Code - Chatwoot Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Order Code": {
      "main": [
        [
          {
            "node": "Actualizar contexto - Esperando Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Order Code - Chatwoot Bot": {
      "main": [
        [
          {
            "node": "Agregar etiqueta - intent_estado_pedido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar Order Code nuevamente - Chatwoot Bot": {
      "main": [
        [
          {
            "node": "Actualizar contexto - Reintento Order Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-18T01:13:10.365Z",
  "id": "NOfJ1NoYRC2o4Gvs",
  "isArchived": false,
  "meta": null,
  "name": "Chatwoot – Estado de Pedido V2 | Captura Order Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-incoming-message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e30ec8cc-a014-4999-b742-7d5acc2125d5",
      "name": "Webhook",
      "webhookId": "bb32d21b-abd6-424d-aeb8-274a354e1501"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f14a79-9b5c-4350-9c95-d414d1be09d3",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "number"
            },
            {
              "id": "b59357e9-0def-454e-b4cf-9e65dfaaa77c",
              "name": "name",
              "value": "={{ $json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "d9e697e2-73b8-4180-87b7-ddb19aba768e",
              "name": "email",
              "value": "={{ $json.body.conversation.messages[0].sender.email }}",
              "type": "string"
            },
            {
              "id": "868cb42a-c336-4fec-891b-536858821c14",
              "name": "phone",
              "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "f5578c6a-db13-4827-b7b0-2c8f197fdbf4",
              "name": "message",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "c217e4c0-b471-458b-a5ff-787d73c672f7",
      "name": "Normalizar payload Chatwoot"
    },
    {
      "parameters": {
        "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{$json.conversation_id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        0
      ],
      "id": "e66c082a-3cc2-461a-be1f-075c4cf6e070",
      "name": "Obtener contexto desde Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y7VRgC9ZABE9kFDw",
          "name": "Header Auth account - Supabase jousfit.com"
        },
        "httpBearerAuth": {
          "id": "BzTJ5DgwIoNw4kKL",
          "name": "Bearer Auth account - Supabase anon Key jousfit.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ed9d4c8-9c5c-4768-b906-2841b21b77ca",
              "leftValue": "={{ $json.stage }}",
              "rightValue": "awaiting_order_code",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        0
      ],
      "id": "6c765624-ed98-4478-9acf-8dc58542cda9",
      "name": "awaiting_order_code?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        128
      ],
      "id": "34a5ea10-6e64-463b-be04-dce09dea317f",
      "name": "Muere aquí"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b62f020-6db8-43c7-bc7b-d12ad064fb92",
              "leftValue": "={{ /#?\\d{4,10}/.test($('Normalizar payload Chatwoot').item.json.message || '') }}",
              "rightValue": "={{ /#?\\d{4,10}/.test($json.last_customer_message || '') }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        -80
      ],
      "id": "b04a7848-0142-4921-8c69-8a0c319f4501",
      "name": "¿Mensaje contiene Order Code?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be410f54-6a8d-4e34-a92f-4ca452cee194",
              "name": "order_code",
              "value": "={{ ($('Normalizar payload Chatwoot').item.json.message.match(/#?\\d{4,10}/) || [null])[0] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -224
      ],
      "id": "1a27d105-d3d2-49a9-bdf4-887f11e009ae",
      "name": "Extraer Order Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context?on_conflict=conversation_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": {{ $('Normalizar payload Chatwoot').item.json.conversation_id }},\n  \"intent\": \"intent_estado_pedido\",\n  \"stage\": \"order_code_captured\",\n  \"order_code\": {{ $json.order_code ? JSON.stringify($json.order_code) : null }},\n  \"last_customer_message\": {{ \n    $('Normalizar payload Chatwoot').item.json.message \n      ? JSON.stringify($('Normalizar payload Chatwoot').item.json.message) \n      : null \n  }},\n  \"confidence\": 0.9,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        -224
      ],
      "id": "ef45d0b3-4b49-494f-aed2-c3627b305367",
      "name": "Actualizar contexto - Esperando Pedido",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "BzTJ5DgwIoNw4kKL",
          "name": "Bearer Auth account - Supabase anon Key jousfit.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{ $('Normalizar payload Chatwoot').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"¡Gracias! 😊\\n\\nYa tengo tu número de pedido **#{{ $('Extraer Order Code').item.json.order_code }}**.\\nDame un momento mientras reviso el estado.\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        -224
      ],
      "id": "b19c2ba2-00ab-4bfe-b63b-c0e45620b337",
      "name": "Confirmar Order Code - Chatwoot Bot",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Para ayudarte necesito el número de pedido 😊\\n\\nNormalmente lo encuentras en el correo de confirmación y se ve así: #123456\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        32
      ],
      "id": "0063ad54-b3dc-4938-b7bb-6fd163c65263",
      "name": "Solicitar Order Code nuevamente - Chatwoot Bot",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bkzgoccwizwtjjuxjxyt.supabase.co/rest/v1/conversation_context?on_conflict=conversation_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJremdvY2N3aXp3dGpqdXhqeHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjUxNTIsImV4cCI6MjA3ODQ0MTE1Mn0.gtjTo_tGpDVTrAf0wwVNW17j9o0Mwhw76FHRO4TaC78"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": {{ $json.conversation_id }},\n  \"intent\": \"intent_estado_pedido\",\n  \"stage\": \"awaiting_order_code\",\n  \"last_customer_message\": {{ $('Normalizar payload Chatwoot').item.json.message \n    ? JSON.stringify($('Normalizar payload Chatwoot').item.json.message) \n    : null }},\n  \"confidence\": 0.9,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        32
      ],
      "id": "34f05fa8-baa0-4229-9dc3-068e61b93a4e",
      "name": "Actualizar contexto - Reintento Order Code",
      "credentials": {
        "httpBearerAuth": {
          "id": "BzTJ5DgwIoNw4kKL",
          "name": "Bearer Auth account - Supabase anon Key jousfit.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://jousfit-chatwoot.q3fy2l.easypanel.host/api/v1/accounts/1/conversations/{{$json.conversation_id}}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "VYwD8NvEyYNoCTbWaqaRYC3L"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"intent_estado_pedido\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        -224
      ],
      "id": "9ff9f89b-0c69-4a46-acce-71db8c00cfc2",
      "name": "Agregar etiqueta - intent_estado_pedido"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ojVOtXSMrjz5CEXr",
          "mode": "list",
          "cachedResultUrl": "/workflow/ojVOtXSMrjz5CEXr",
          "cachedResultName": "Workflow V3 – Order Status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2176,
        16
      ],
      "id": "efd9495c-9c9f-4f01-bf1a-a08264283aed",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-18T01:13:10.367Z",
      "createdAt": "2025-12-18T01:13:10.367Z",
      "role": "workflow:owner",
      "workflowId": "NOfJ1NoYRC2o4Gvs",
      "projectId": "AxsDoOSRz0ComKfA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-22T22:03:54.086Z",
  "versionId": "28963c0c-e206-413f-b747-ced09b2fcec1"
}