folder/Eliminar workflows archivados.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Obtener todos los workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener todos los workflows": {
      "main": [
        [
          {
            "node": "Filtrar archivados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar archivados": {
      "main": [
        [
          {
            "node": "Borrar Workflows archivados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar Workflows archivados": {
      "main": [
        [
          {
            "node": "Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T01:10:40.212Z",
  "id": "KM2n5hBTY9LYnsJg",
  "isArchived": false,
  "meta": null,
  "name": "Eliminar workflows archivados",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -80
      ],
      "id": "914ad203-b2f3-412a-b5d6-82952b858f36",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://jousfit-n8n.q3fy2l.easypanel.host//api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -80
      ],
      "id": "0f13708e-ae8a-4edf-8f35-36cd4c17b811",
      "name": "Obtener todos los workflows",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zVdfqURR3IYc6xdb",
          "name": "n8n APIKey - Jousfit"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Agregar api key de n8n como Header Auth"
    },
    {
      "parameters": {
        "jsCode": "// Detecta si la respuesta viene como array o con propiedad data\nconst all = Array.isArray($json) ? $json : $json.data || [];\n\n// En tu versión, el campo correcto es isArchived\nconst archivados = all.filter(w => w.isArchived === true);\n\nif (archivados.length === 0) {\n  return [{ json: { mensaje: \"No hay workflows archivados (isArchived=true) para eliminar.\" } }];\n}\n\n// Devuelve solo los archivados para eliminarlos\nreturn archivados.map(a => ({\n  json: {\n    id: a.id,\n    name: a.name,\n    isArchived: a.isArchived,\n    active: a.active\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -80
      ],
      "id": "dbc90dae-6929-46dc-aa24-eb432df3d25b",
      "name": "Filtrar archivados"
    },
    {
      "parameters": {
        "jsCode": "const total = $items().length;\nreturn [{ json: { totalEliminados: total, mensaje: `Se eliminaron ${total} workflows archivados de n8n.` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -80
      ],
      "id": "634ebe28-28fe-4119-b969-58b873d37b03",
      "name": "Resumen"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://jousfit-n8n.q3fy2l.easypanel.host//api/v1/workflows/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -80
      ],
      "id": "5d49794f-2619-4614-96f1-12da5a6d866a",
      "name": "Borrar Workflows archivados",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zVdfqURR3IYc6xdb",
          "name": "n8n APIKey - Jousfit"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T01:10:40.216Z",
      "createdAt": "2025-12-31T01:10:40.216Z",
      "role": "workflow:owner",
      "workflowId": "KM2n5hBTY9LYnsJg",
      "projectId": "AxsDoOSRz0ComKfA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-31T01:12:27.457Z",
  "versionId": "ab6c2fb2-f070-407c-bd00-b4056cc2b139"
}